doctype html
html
  head
    title Halaman Terpusat
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/small-business.css')
  body
    block content
    script(src='/js/jquery-1.11.3.min.js')
    script(src='/js/bootstrap.js')